/*
Pod!
*/

/* Colors
   --------------------------- */
/**
  * All colors comes with two shades: light and dark.
  * Light colors contains the prefix "lite-", dark colors contains the prefix "drk-".
  * This part of stylesheet is just to inform what colors comes with Pod! and for further reference for SASS variables.
*/

.lite-blue {
  background-color: #9fdbee;
}

.drk-blue {
  background-color: #7fbde6;
}

.lite-red {
  background-color: #ee9f9f;
}

.drk-red {
  background-color: #e67f7f;
}

.lite-green {
  background-color: #92e560;
}

.drk-green {
  background-color: #83cf54;
}

.lite-yellow {
  background-color: #fce788;
}

.drk-yellow {
  background-color: #cc9f3c;
}

.lite-grey {
  background-color: #e7e8e7;
}

.drk-grey {
  background-color: #929498;
}

/* Buttons
    --------------------------- */
/**
  * Buttons are divided in X groups: simple, confirmation and decline.
*/

.btn {
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 14px;
  font-kerning: auto;
  width: 200px;
  height: 35px;
  border: 0px;
  box-shadow: 0px 3px 0px;
  border-radius: 3px;
}

.btn-big {
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 18px;
  font-kerning: auto;
  width: 350px;
  height: 45px;
  border: 0px;
  box-shadow: 0px 3px 0px;
  border-radius: 5px;
}

.btn-sm {
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 12px;
  font-kerning: auto;
  width: 120px;
  height: 25px;
  border: 0px;
  box-shadow: 0px 2px 0px;
  border-radius: 3px;
}

.btn-simple {
  background: #9fdbee;
  box-shadow: #7fbde6;
  color: #7fbde6;
}

.btn-confirm {
  background: #92e560;
  box-shadow: #83cf54;
  color: #83cf54;
}

.btn-decline {
  background: #ee9f9f;
  box-shadow: #e67f7f;
  color: #e67f7f;
}

.btn-yellow {
  background: #fce788;
  box-shadow: #cc9f3c;
  color: #cc9f3c;
}

.btn-grey {
  background: #e7e8e7;
  box-shadow: #929498;
  color: #929498;
}

/* Inputs
    --------------------------- */
/**
  * Need to describe.
*/

.input {
  height: 35px;
  width: 280px;
  border-radius: 3px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-kerning: auto;
  font-weight: 200;
  font-size: 14px;
  color: #929498;
}

.input-big {
  height: 45px;
  width: 380px;
  border-radius: 5px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-kerning: auto;
  font-weight: 200;
  font-size: 18px;
  color: #929498;
}

.input-sm {
  height: 25px;
  width: 180px;
  border-radius: 5px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-kerning: auto;
  font-weight: 200;
  font-size: 12px;
  color: #929498;
}