/*
Pod!
*/

/* Colors
   --------------------------- */

/**
  * All colors comes with two shades: light and dark.
  * Light colors contains the prefix "lite-", dark colors contains the prefix "drk-".
  * This part of stylesheet is just to inform what colors comes with Pod! and for further reference for SASS variables.
*/

.lite-blue {
  background-color: #9fdbee;
}

.drk-blue {
  background-color: #7fbde6;
}

.lite-red {
  background-color: #ee9f9f;
}

.drk-red {
  background-color: #e67f7f;
}

.lite-green {
  background-color: #92e560;
}

.drk-green {
  background-color: #83cf54;
}

.lite-yellow {
  background-color: #fce788;
}

.drk-yellow {
  background-color: #cc9f3c;
}

.lite-grey {
  background-color: #e7e8e7;
}

.drk-grey {
  background-color: #929498;
}

/* Buttons
    --------------------------- */

/**
  * Buttons are divided in X groups: simple, confirmation and decline.
*/

.btn-simple {
  background: #9fdbee;
}

.btn-confirm {
  background: #92e560;
}

.btn-decline {
  background: #ee9f9f;
}
