/* Typography ================== */

h1 {
  font-size: 38px;
  font-weight: 500;
}

h2 {
  font-size: 34px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

.feat {
  font-size: 18px;
}

mark {
  background-color: #f9dc7c;
}

blockquote {
  border-left: 4px solid #4c85f8;
  padding-left: 8px;
  font-size: 18px;
}

code {
  padding: 1px;
  border-radius: 4px;
  background-color: #e7e8e7;
  color: #3160e0;
  font-family: monospace;
  font-size: 16px;
}

kbd {
  padding: 3px;
  border-radius: 4px;
  background-color: #3160e0;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
}