/*
Pod!
*/

/* Colors ================== */
/**
  * All colors comes with two shades: light and dark.
  * Light colors contains the prefix "lite-", dark colors contains the prefix "drk-".
  * This part of stylesheet is just to inform what colors comes with Pod! and for further reference for SASS variables.
**/

.lite-blue {
  background-color: #4c85f8;
}

.drk-blue {
  background-color: #3160e0;
}

.lite-red {
  background-color: #fe5356;
}

.drk-red {
  background-color: #c11d13;
}

.lite-green {
  background-color: #99e462;
}

.drk-green {
  background-color: #70b939;
}

.lite-yellow {
  background-color: #f9dc7c;
}

.drk-yellow {
  background-color: #dcb224;
}

.lite-grey {
  background-color: #e7e8e7;
}

.drk-grey {
  background-color: #929498;
}

.lite-mineral {
  background-color: #30c7d5;
}

.dark-mineral {
  background-color: #2caebe;
}

.lite-tangerina {
 background-color: #fb764f;  
}

.dark-tangerina {
  background-color: #eb4d29;
}

/* Buttons ==================*/
/**
  * Buttons are divided in 2 groups: size and color/type.
**/

/* Size */

.btn {
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-kerning: auto;
  width: 200px;
  height: 35px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  outline: none;
}

.btn:hover {
   background-image: linear-gradient(rgba(44,0,2,0),rgba(0,0,0,0.1));
}

.btn-big {
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-kerning: auto;
  width: 350px;
  height: 45px;
  border: solid 1px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  outline: none;
}

.btn-big:hover {
   background-image: linear-gradient(rgba(44,0,2,0),rgba(0,0,0,0.1));
}

.btn-sm {
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-kerning: auto;
  width: 120px;
  height: 25px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  outline: none;
}

.btn-sm:hover {
   background-image: linear-gradient(rgba(44,0,2,0),rgba(0,0,0,0.1));
}

.btn-ico {
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-size: 14px;
  font-kerning: auto;
  width: 50px;
  height: 35px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  outline: none;
}

.btn-ico-big {
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-size: 18px;
  font-kerning: auto;
  width: 60px;
  height: 45px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  outline: none;
}

.btn-ico-sm {
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-kerning: auto;
  width: 40px;
  height: 25px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  outline: none;
}

/* Color/Type */

.btn-simple {
  background: #5d91fb;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #3160e0;
}

.btn-green {
  background: #99e462;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #70b939;
}

.btn-red {
  background: #fe5356;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #c11d13;
}

.btn-yellow {
  background: #f9dc7c;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #dcb224;
}

.btn-grey {
  background: #e7e8e7;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #929498;
}

.btn-mineral {
  background: #30c7d5;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #20919f;
}

.btn-tangerina {
  background: #fb764f;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #d23e1d;
}

.btn-grape {
  background: #be69e1;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
  border-color: #8430a7;
}

/* Inputs ================== */

.input {
  height: 35px;
  width: 280px;
  border-radius: 3px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: "Ubuntu", sans-serif;
  font-kerning: auto;
  font-size: 16px;
  color: #929498;
  outline: none;
}

.input-big {
  height: 45px;
  width: 380px;
  border-radius: 5px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: "Ubuntu", sans-serif;
  font-kerning: auto;
  font-size: 20px;
  color: #929498;
  outline: none;
}

.input-sm {
  height: 25px;
  width: 180px;
  border-radius: 5px;
  border-style: none;
  background-color: #efefef;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: "Ubuntu", sans-serif;
  font-kerning: auto;
  font-size: 14px;
  color: #929498;
  outline: none;
}

/* Fonts ================== */
/**
  * Pod! comes with 2 fonts: Ubuntu and Icomoon.
  * Ubuntu is used for regular text and Icomoon for a variety of icons.
**/

/* Ubuntu */

/**
  * To use Ubuntu, just add <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'> on your html file.
  * For more usage see: https://developers.google.com/fonts/docs/getting_started.
**/

/* Icomoon */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y32a8e');
	src:url('fonts/icomoon.eot?#iefixy32a8e') format('embedded-opentype'),
		url('fonts/icomoon.woff?y32a8e') format('woff'),
		url('fonts/icomoon.ttf?y32a8e') format('truetype'),
		url('fonts/icomoon.svg?y32a8e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-image:before {
	content: "\e602";
}
.icon-camera:before {
	content: "\e603";
}
.icon-music:before {
	content: "\e604";
}
.icon-connection:before {
	content: "\e605";
}
.icon-file:before {
	content: "\e606";
}
.icon-tag:before {
	content: "\e607";
}
.icon-cart:before {
	content: "\e608";
}
.icon-credit:before {
	content: "\e609";
}
.icon-support:before {
	content: "\e60a";
}
.icon-phone:before {
	content: "\e60b";
}
.icon-notebook:before {
	content: "\e60c";
}
.icon-location:before {
	content: "\e60d";
}
.icon-map:before {
	content: "\e60e";
}
.icon-clock:before {
	content: "\e60f";
}
.icon-clock2:before {
	content: "\e610";
}
.icon-calendar:before {
	content: "\e611";
}
.icon-tablet:before {
	content: "\e612";
}
.icon-drawer:before {
	content: "\e613";
}
.icon-drawer2:before {
	content: "\e614";
}
.icon-disk:before {
	content: "\e615";
}
.icon-bubbles:before {
	content: "\e616";
}
.icon-user:before {
	content: "\e617";
}
.icon-search:before {
	content: "\e618";
}
.icon-key:before {
	content: "\e619";
}
.icon-lock:before {
	content: "\e61a";
}
.icon-cog:before {
	content: "\e61b";
}
.icon-pie:before {
	content: "\e61c";
}
.icon-bars:before {
	content: "\e61d";
}
.icon-switch:before {
	content: "\e61e";
}
.icon-signup:before {
	content: "\e61f";
}
.icon-star:before {
	content: "\e620";
}
.icon-heart:before {
	content: "\e621";
}
.icon-heart-broken:before {
	content: "\e622";
}
.icon-thumbs-up:before {
	content: "\e623";
}
.icon-thumbs-up2:before {
	content: "\e624";
}
.icon-happy:before {
	content: "\e625";
}
.icon-sad:before {
	content: "\e626";
}
.icon-notification:before {
	content: "\e627";
}
.icon-question:before {
	content: "\e628";
}
.icon-info:before {
	content: "\e629";
}
.icon-checkmark:before {
	content: "\e62a";
}
.icon-facebook:before {
	content: "\e62b";
}
.icon-instagram:before {
	content: "\e62c";
}
.icon-twitter:before {
	content: "\e62d";
}
.icon-feed:before {
	content: "\e62e";
}
.icon-youtube:before {
	content: "\e62f";
}
.icon-vimeo2:before {
	content: "\e630";
}
.icon-flickr:before {
	content: "\e631";
}
.icon-picassa:before {
	content: "\e632";
}
.icon-dribbble:before {
	content: "\e633";
}
.icon-forrst:before {
	content: "\e634";
}
.icon-deviantart:before {
	content: "\e635";
}
.icon-steam:before {
	content: "\e636";
}
.icon-github:before {
	content: "\e637";
}
.icon-wordpress:before {
	content: "\e638";
}
.icon-blogger:before {
	content: "\e639";
}
.icon-tumblr:before {
	content: "\e63a";
}
.icon-yahoo:before {
	content: "\e63b";
}
.icon-tux:before {
	content: "\e63c";
}
.icon-apple:before {
	content: "\e63d";
}
.icon-android:before {
	content: "\e63e";
}
.icon-windows8:before {
	content: "\e63f";
}
.icon-soundcloud:before {
	content: "\e640";
}
.icon-skype:before {
	content: "\e641";
}
.icon-linkedin:before {
	content: "\e642";
}
.icon-lastfm:before {
	content: "\e643";
}
.icon-delicious:before {
	content: "\e644";
}
.icon-pinterest:before {
	content: "\e645";
}
.icon-foursquare:before {
	content: "\e646";
}
.icon-paypal:before {
	content: "\e647";
}
