body {
  padding: 10px 5px 10px 5px;
  font-family: sans-serif;
  color: #2a2a2a; 
  background: #f2f2f2;
}

hr {
  width: 80%;
  background-color: #2a2a2a;
  height: 1px;
  border: none;
}

.color-demo {
  width: 300px;
  height: 70px;
}

/*backgrounds*/

.pod-bgblue {
  background-color: #9fdbee;
}

.pod-bgdarkblue {
  background-color: #7fbde6;
}

.pod-bgred {
  background-color: #ee9f9f;
}

.pod-bgbloodred {
  background-color: #e67f7f;
}

.pod-bggreen {
  background-color: #9feebd;
}

.pod-bgbrazilgreen {
  background-color: #7fe6af;
}

/*colors*/

.pod-blue {
  color: #9fdbee;
}

.pod-darkblue {
  color: #7fbde6;
}

.pod-red {
  color: #ee9f9f;
}

.pod-bloodred {
  color: #e67f7f;
}

.pod-green {
  color: #9feebd;
}

.pod-brazilgreen {
  color: #7fe6af;
}